.input-container {
  margin: 35px 0;
}

.input-container label,
.input-container h2 {
  font-weight: normal;
  display: block;
  margin-bottom: 10px;
  font-size: 19px;
}

.input-container label,
.input-container input {
  width: 100%;
}

.required:after {
  color: #fa1d00;
  content: '*';
}

.form-button,
.input-container input,
.input-container.radio-select label,
.input-container.select select {
  border-radius: 12px;
  border: 1px solid #dbe1e4;
  padding: 30px 15px;
  background: #f5f8fa;
  font-size: 15px;
  width: 100%;
}

.input-container.radio-select input {
  width: auto;
}

.form-button {
  background: #32b2db;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 0.7;
}
