.help {
  border-top: 1px solid #899a9f;
  color: #e0ebee;
  text-align: center;
}

.help .container {
  position: relative;
}

.help-toggle {
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: #899a9f;
  border: 1px solid #899a9f;
  border-radius: 6px;
  background: #1b3b43;
  position: absolute;
  top: -20px;
  right: 20px;
  transition: width 300ms;
}

.help-toggle img {
  width: 19px;
}

.help-toggle span {
  margin: 0 5px;
}

.help-drawer-container {
  padding: 33px;
}

.help-drawer {
  transition: height 300ms, opacity 400ms;
  overflow: hidden;
}

.help-text {
  text-align: center;
  font-size: 19px;
  margin-top: 53px;
}

.contact-buttons {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 320px) {
  .help-toggle span {
    display: none;
  }

  .help-toggle {
    height: 29px;
  }

  .help-toggle img {
    width: 15px;
  }

  .help-drawer-container {
    padding: 10px 20px;
  }

  .help-text {
    margin-top: 10px;
  }

  .contact-buttons {
    flex-wrap: wrap;
  }
}
