.steps {
  color: #5c5c5c;
  background: #f4f6f6;
  font-size: 19px;
}

.steps-header {
  border-bottom: 3px solid #ebebeb;
  padding: 27px 0;
}

.steps-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.step-container {
  max-width: 550px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 50px;
}

.step-title {
  font-size: 19px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.step-description {
  font-size: 22px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.required-notice {
  color: #fa1d00;
}

.field-error {
  margin: 10px 0;
  font-size: 12px;
  color: #fa1d00;
}

@media only screen and (max-width: 320px) {
  .steps,
  .step-title {
    font-size: 16px;
  }
}
