/* COLORS */


/* UTILITY CLASSES */
.dark-blue-background {
  background: #1b3b43;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.bold {
  font-weight: bold;
}

/* GENERAL CLASSES */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
}


/* HEADER */
.header .container {
  padding-top: 20px;
  padding-bottom: 66px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.language-button {
  border: 1px solid white;
  background: none;
  text-transform: uppercase;
  color: white;
  border-radius: 6px;
  letter-spacing: -1px;
  padding: 12px 12px 10px 12px;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  width: 142px;
}

@media only screen and (max-width: 320px) {
  .logo {
    width: 45%;
  }

  .language-button {
    font-size: 10px;
  }

  .header .container {
    padding-bottom: 30px;
  }
}
